[core]
	excludesfile = /Users/obiyuta/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = obiyuta
	email = obi.yuta@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[push]
	default = matching
#driver for merging XCode project files
[merge "mergepbx"]
    name = XCode project files merger
    driver = mergepbx %O %A %B
[commit]
	template = /Users/obiyuta/.stCommitMsg
